# Project exclude paths
/target/
src/main/java/data/select_course.csv
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/vcs.xml
src/main/java/data/Pre.csv
src/main/java/data/Pre.csv
*.xml
*.sql
